In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('world_population.csv')

In [5]:
df.head()

,Country/Other,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,Afghanistan,38928346,2.33,886592,60,652860,-62920,4.6,18,25.0,0.50
1,Albania,2877797,-0.11,-3120,105,27400,-14000,1.6,36,63.0,0.04
2,Algeria,43851044,1.85,797990,18,2381740,-10000,3.1,29,73.0,0.56
3,Angola,32866272,3.27,1040977,26,1246700,6413,5.6,17,67.0,0.42
4,Antigua and Barbuda,97929,0.84,811,223,440,0,2.0,34,26.0,0.00

In [6]:
df.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country/Other      201 non-null    object
 1   Population (2020)  201 non-null    int64
 2   Yearly Change      201 non-null    float64
 3   Net Change         201 non-null    int64
 4   Density (P/Km²)    201 non-null    int64
 5   Land Area (Km²)    201 non-null    int64
 6   Migrants (net)     201 non-null    int64
 7   Fert. Rate         201 non-null    float64
 8   Med. Age           201 non-null    int64
 9   Urban Pop %        194 non-null    float64
 10  World Share        201 non-null    float64
dtypes: float64(4), int64(6), object(1)
memory usage: 17.4+ KB

In [12]:
df.values

array([['Afghanistan', 38928346, 2.33, ..., 18, 25.0, 0.5],
       ['Albania', 2877797, -0.11, ..., 36, 63.0, 0.04],
       ['Algeria', 43851044, 1.85, ..., 29, 73.0, 0.56],
       ...,
       ['Yemen', 29825964, 2.28, ..., 20, 38.0, 0.38],
       ['Zambia', 18383955, 2.93, ..., 18, 45.0, 0.24],
       ['Zimbabwe', 14862924, 1.48, ..., 19, 38.0, 0.19]], dtype=object)

In [15]:
df.loc[0]

Country/Other        Afghanistan
Population (2020)       38928346
Yearly Change               2.33
Net Change                886592
Density (P/Km²)               60
Land Area (Km²)           652860
Migrants (net)            -62920
Fert. Rate                   4.6
Med. Age                      18
Urban Pop %                 25.0
World Share                  0.5
Name: 0, dtype: object

In [16]:
df.colums

AttributeError: 'DataFrame' object has no attribute 'colums'

In [17]:
df.set_index('Country/Other',inplace=True)

In [19]:
df.loc['Bulgaria']

Population (2020)    6948445.00
Yearly Change             -0.74
Net Change            -51674.00
Density (P/Km²)           64.00
Land Area (Km²)       108560.00
Migrants (net)         -4800.00
Fert. Rate                 1.60
Med. Age                  45.00
Urban Pop %               76.00
World Share                0.09
Name: Bulgaria, dtype: float64